.list{
    font-size: 1.8rem;
    text-align: left;
    list-style: none;
    li{
        margin-bottom: 1em;
        width: 80%;
        display: flex;
        justify-content: start;
        align-items: center;
        gap: 10px;
        .icon{
            height: 25px;
            color: red;
        }
    }
}