@import '../../styles/mixins';
.section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-align: center;
    transform: translate(25%);
    transition: transform .5s;
    animation: push .5s 1 forwards;

    h2 {
        margin-bottom: 1em;
        font-size: 3rem;
        font-weight: bold;
    }

    p {
        font-size: 1.8rem;
        text-align: center;
    }

    button,
    a {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        max-width: 440px;
        height: 70px;
        margin-inline: auto;
        font-size: 2.5rem;
        font-weight: normal;

        &:hover {
            text-decoration: none;
        }
    }

    form {
        width: 100%;

        input {
            width: 100%;
        }

        label {
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            gap: 25px;
            margin-block: 2em;
            font-size: 1.5rem;

            @include customcheckbox;
        }
    }
}
.small{
    width: 340px;
}

.left {
    text-align: left;

    p {
        text-align: left;
    }
}

@media (min-width: 576px) {
    .medium {
        width: 500px;
    }


}

@media (min-width: 776px) {
    .large {
        width: clamp(350px, 1000px + 5vw, 1200px);
        gap: 30px;
    }

}

@keyframes push {
    to{
        transform: translateX(0);
    }
}