.section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 340px;
    text-align: center;
    transform: translate(25%);
    transition: transform .5s;
    animation: push .5s 1 forwards;

    h2 {
        margin-bottom: 1em;
        font-size: 3rem;
        font-weight: bold;
    }

    p {
        font-size: 1.8rem;
        text-align: center;
    }

    button,
    a {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        max-width: 440px;
        height: 70px;
        margin-inline: auto;
        font-size: 2.5rem;
        font-weight: normal;

        &:hover {
            text-decoration: none;
        }
    }

    form {
        width: 100%;

        input {
            width: 100%;
        }

        label {
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            gap: 25px;
            margin-block: 2em;
            font-size: 1.5rem;

            input[type="checkbox"] {
                cursor: pointer;
                -webkit-appearance: none;
                -moz-appearance: none;
                appearance: none;
                outline: 0;
                background: lightgray;
                border-radius: .25em;
                height: 19px;
                width: 19px;
                border: 1px solid white;
                color: white;
            }

            input[type="checkbox"]:checked {
                background: rgb(22, 211, 22);
                color: white;
            }

            input[type="checkbox"]:after {
                content: ' ';
                position: relative;
                left: 40%;
                top: 20%;
                width: 15%;
                height: 40%;
                border: solid #fff;
                border-width: 0 2px 2px 0;
                transform: rotate(50deg);
                display: none;
            }

            input[type="checkbox"]:checked:after {
                display: block;
            }
        }
    }
}


.left {
    align-items: flex-start;
    justify-content: flex-start;
    text-align: left;

    p {
        text-align: left;
    }
}

@media (min-width: 576px) {
    .medium {
        width: 500px;
    }


}

@media (min-width: 776px) {
    .large {
        width: 750px;
        gap: 30px;
    }

}

@keyframes push {
    to{
        transform: translateX(0);
    }
}