@import '../../styles/mixins';

.languageSelector {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 10px;
    column-gap: 50px;
    font-size: 1.5rem;
    text-transform: capitalize;
    div:first-child{
        grid-column: 1/3;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        min-height: 50px;
        margin-top: 2em;
        padding: 1em;
        background-color: #d7d8d777;
        border-radius: .5em;
      label{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 5px;
        width: 100px;
        font-weight: bold;
        svg{
          min-width: 20px;
            height: 20px;
        }
      } 
    }
    div {
        display: flex;
        align-items: center;
        gap: 1em;
        padding-left: 1em;
        @include customcheckbox;
    }
    button{
      grid-column: 2/3;
      margin-top: 2em;
    }
}