.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    padding-top: 100px;
    padding-inline: 2em;
    background-image: url('../../public/assets/crown-bg.jpg');
    nav{
        div{
            a{
                background: none;
                font-size: 1.8rem;
                color: orangered;
                &:hover{
                    background: none;
                    color: none;
                }
            }
        }
    }
    main{
        margin-bottom: 7em;
    }
}