.signup{
    background: #fff;
    color: #333;
    main{
        display: flex;
        justify-content: center;
        align-items: center;
        padding-block: 150px;
        border-top: 1px solid rgba(0, 0, 0, 0.2);
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    }
    a{
        background: none;
        color: #333;
        font-size: 1.9rem;
        font-weight: normal;
        &:hover{
            background: none;
            text-decoration: underline;
        }
    }
}