.form{
    width: clamp(320px, 320px + 20vw, 1000px);
    margin-top: 10em;
    // font-size: clamp(1.2rem, 1.2rem + 2vw, 1.7rem);
    h1{
        width: 100%;
        padding: 0;
        border-bottom: 1px solid #837e7e;
    }
    button{
        background: none;
        border: none;
        color: #ffffffb7;
        cursor: pointer;
    }
    div{
        display: flex;
        gap: 1em;
        .image{
            position: relative;
            width: clamp(50px, 50px + 2vw, 250px);
            height: clamp(50px, 50px + 2vw, 250px);
            img{
                width: inherit;
                height: inherit;
                border-radius: 1em;
            }
            button{
                position: absolute;
                right: 0;
                bottom: 0;
                background: none;
                border: none;
                cursor: pointer;
                svg{
                    padding: .25em;
                    color: #fff;
                    background: #00000086;
                    border-radius: 50%;
                }
            }
        }
        .settings{
            display: flex;
            flex-direction: column;
            gap: 1em;
            section{
                display: flex;
                flex-direction: column;
                gap: 15px;
                width: 100%;
                border-bottom: 1px solid #837e7e6b;
                margin-top: .5em;
                margin-bottom: 2em;
                padding-bottom: 1em;

                fieldset{
                    width: inherit;
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    border: none;
                    font-size: clamp(.8rem, .9rem + 2vw, 1.2rem);
                    label{
                        font-size: clamp(1rem, 1rem + 2vw, 1.5rem);
                        margin-top: .5em;
                        color: #ffffffb7;
                                              
                    }
                    input{
                        width: inherit;
                        padding: .35em 1em;
                        background-color: #78707077;
                        border: #837e7e;
                        color: #fff;
                        font-size: clamp(1rem, 1rem + 2vw, 1.5rem);
                        outline: none;
                    }
                    .validnick{
                        display: flex;
                        justify-content: space-between;
                    }
                }
                label{
                    color: #ffffffb7;
                    p{
                        margin-bottom: .5em;
                        font-size: clamp(1rem, 1rem + 2vw, 1.5rem);
                    }
                    select{
                        background: #000000d2;
                        border-color: #ffffffc1;
                        color: #ffffffc1;
                    }
                }
            }
        }
    }
}