.footer{
    padding: 1em 2em;
    ul{
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        margin-bottom: 2em;
        li{
            margin: .5em;
            width: calc(50% - 20px);
            text-decoration: underline;
            font-size: clamp(1rem, 1rem + 0.5vw, 1.8rem);
        }
    }
    h4{
        margin-top: .5em;
        font-size: clamp(1.2rem, 1.2rem + 0.5vw, 2rem);
    }
}
@media(min-width: 992px){
    .footer{
        ul{
            li{
                width: calc(30% - 20px);
            }
        }
    }
}
@media(min-width: 1200px){
    .footer{
        ul{
            li{
                width: calc(25% - 20px);
            }
        }
    }
}