.fieldset {
    position: relative;
    border: none;

    legend {
        position: absolute;
        left: 1.05em;
        top: 50%;
        transform: translateY(-50%);
        color: #ffffffbc;
        font-size: 1.3rem;
        transition: transform .5s;
    }

    .input {
        min-width: 300px;
        height: 50px;
        padding-top: .5em;
        padding-inline: 1em;
        background-color: rgba(0, 0, 0, 0.5);
        border: 1px solid #ffffffc5;
        border-radius: .25em;
        color: #fff;
        font-size: 1.3em;
    }

    .move{
        transform: translate(-5%, -150%) scale(.85) !important;
    }
}